*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arabic-bold;;
}
@font-face {
  font-family: arabic-bold;
  src: url('../../fonts/DIN\ NEXT™\ ARABIC\ REGULAR.otf');
}
.container-fluid {
  font-family: 'DIN NEXT™';
  font-style: ARABIC LIGHT;
  background: #5d001d;
  overflow-x: hidden;
}
.form-col div .twi{
  background-color: #EDF8FE;
  color: #1DA1F3;
  height: 28px;
  margin-top: 5px !important;
  border-radius: 100%;
  padding-top: 10px;
  width: 30px;
}
.form-col div .good{
  background-color: #E7E3C6;
 
  color: #8A683E;
  height: 28px;
  margin-top: 5px !important;
  border-radius: 100%;
  padding-top: 10px;
  width: 30px;
}
.nav-btn {
  
  border: none !important;
  background-color: hsl(126deg 87% 35%);
  padding-right: 1px;
}
.nav1-btn{
  background-color: hsl(126deg 87% 35%);
  padding-right: 1px;
}
.nav-btn i {
  background-color: hsl(126deg 83% 33%);
  border-radius: 0 15px 15px 0px;
  padding: 9px 10px !important;
  margin-left: 10px;
}
.nav1-btn i {
  background-color: hsl(126deg 83% 33%);
  border-radius: 0 15px 15px 0px;
  padding: 8px 10px 8px 10px;
  margin-left: 10px;
}

.main {
  background: #f3ece4;
  justify-content: center;
  
}
.main form div {
  background: #fff;

  padding-top: 2px;
  padding-left: 2px;
}
.main form div input {
  width: 90%;
  padding: 5px;
  border: none;
}
.main form div input:focus {
  outline: none;
}
.main form div i {
  font-size: 20px;
  padding: 7px 15px;
  background-color: #f3f5f4;
  color: #5C2E3D;
}
.post-container {
  background: #fff;
  border-radius: 20px;
}
.post-container .user-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}
.user-info {
  position: absolute;
 
  margin-top: -10px;
}
.user-info h6{
  color: #5d001d;
  font-weight: bold;
}
.user-img {
  position: absolute;
  
  margin: -10px;
}
.butn button {
  padding-bottom: 4px !important;
  background: #F6EBEF;
  color: #5d001d;
  border: 1px solid #5d001d;
  font-weight: bold;
}

.post-img img {
  width: 100%;
  border-radius: 20px;
}

.post-icon {
  display: flex;
  width: 100%;
  font-weight: 500;
}
.post-icon .whatsapp {
  width: 50%;
  
  text-align: left;
}
.post-icon p {
  width: 25%;
  text-align: right;
}
.post-icon p img {
  margin-bottom: 4px;
}
.user-name p {
  padding-bottom: 0px !important;
}
.user-name {
  vertical-align: middle;
}
.login-nav .user-profile-img {
  width: 40%;
  text-align: right;
  vertical-align: middle;
}
.login-nav div {
  width: 25%;
}
.notifaction-icon {
  justify-content: space-evenly;
}
.notifaction-icon div {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #68122d;
  vertical-align: middle;
  text-align: center;
  margin-right: 12px !important;
}
.notifaction-icon div img {
  position: relative;
  height: 25px;
  width: 25px;
  padding: 5px;
}

i.badge1 {
  position: relative;
  padding: 0px 8px;
  left: 20px;
  bottom: 35px;
  border-radius: 50%;
  color: white;
  background-color: green !important;
}
.profile {
  background: #fff;
  border-radius: 20px;
  margin-top: 100px;
  padding: 20px;
}
.profile-info .profile-img {
  margin-top: -60px;
}
.profile-info h6 {
  font-weight: bold;
}
.social-links {
  justify-content: space-evenly;
  padding-top: 20px;
}
.good-reads {
  background: #f8f3f0;
  border-radius: 10px;
  padding: 15px 30px;
}
.twitter {
  padding: 10px 70px;
  background: #edf8fe;
  font-size: 30px;
  border-radius: 10px;
}
.counting {
  background: #fff6d5 !important;
  padding: 10px 50px !important;
  border-radius: 10px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}
.counting span {
  font-size: 16px;
  font-weight: normal;
}
.main-div{
  padding-left: 25px !important;
  padding-right: 0px !important;
  padding-bottom: 30px;
}
.add-head{
  padding-top: 10px;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  background-color: #F1FBF3;
  margin-top: -24px;
}

.form-row{
  padding: 0px 15px !important;
}
.form-col{
  padding: 0px 15px !important;
  border: 1px solid !important;
   border-radius: 50px !important;
}
.form-col .form-bor{
  border:none !important
}

.form-link{
  padding-right: 5px !important
}
.form-col select{
  float: right;
  border:none !important
}
.upload-img{
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #8080806b;
  padding: 20px 10px;
  background-color: #F7F3F4;
  border-radius: 10px;
}
.submit-btn{
  background-color: #0DA81E !important;
  color: #fff !important;
  border-radius: 50px !important;
}
.form-control:focus {
  color: #495057;
  background-color: #fff !important;
  border-color: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.navbar-collapse ul li{
  border: 1.5px solid #ffffff99 !important;
}

@media(max-width: 320px)
{
  .form-col .code{
    border: none !important;
    width: 30% !important;
    height: 30px !important;
    border-left: 2px solid gainsboro !important;
  
  }
  .btn-div .nav-btn span{
    margin-top: 4px !important;
  }
  .f-post{
    font-size: 8px;
    font-weight: bold;
  }
  .post-title h4{
    font-size: 17px !important;
  }
  .post-title p{
    font-size: 11px !important;
  }
  
  .post-icon .whatsapp{
    width: 100%;
    display: flex;
  }
  .post-icon .message{
    width: 100%;
    display: flex;
  }
  .post-icon .heart{
    width: 100%;
    display: flex;
  }
  .user-info{
    right: 19% !important;
    font-size: 10px !important;
  }
  .user-img{
    right: 5% !important;
  }
  .main form div input{
    width: 78%;
  }
  .main form div {
    margin-top: 10px;
  }
  .nav-btn{
    font-size: 11px;
  }
  .nav1-btn{
    font-size: 11px;
    display: inline-flex;
  }
  .butn button{
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 12px;
  }
  .plus-icon{
    line-height: 27.5px !important;
    margin-right: 5px !important;
  }
  .login-user{
    padding-left: 2.25rem !important;
  }
  .social-links{
    display: block;
  }
  .twitter{
    line-height: 120px !important;
  }
  .u-img{
    padding-right: 23px;
  }
  .upload-icon{
    padding: 11px;
  }
}
@media(min-width: 321px)
{
  .form-col .code{
    border: none !important;
    width: 25% !important;
    height: 30px !important;
    border-left: 2px solid gainsboro !important;
  
  }
  .btn-div .nav-btn span{
    margin-top: 4px !important;
  }
  .post-title h4{
    font-size: 17px !important;
  }
  .post-title p{
    font-size: 11px !important;
  }
  
  .post-icon .whatsapp{
    width: 100%;
    display: flex;
  }
  .post-icon .message{
    width: 100%;
    display: flex;
  }
  .post-icon .heart{
    width: 100%;
    display: flex;
  }
  .user-info{
    right: 17% !important;
    font-size: 10px !important;
  }
  .user-img{
    right: 5% !important;
  }
  .main form div input{
    width: 78%;
  }
  .main form div {
    margin-top: 10px;
  }
  .nav-btn{
    font-size: 15px;
  }
  .nav1-btn{
    font-size: 15px;
    display: inline-flex;
  }
  .butn button{
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 15px;
  }
  .plus-icon{
    line-height: 27.5px !important;
    margin-right: 5px !important;
  }
  .login-user{
    padding-left: 2.25rem !important;
  }
  .social-links{
    display: block;
  }
  .twitter{
    line-height: 110px !important;
  }
  .u-img{
    padding-right: 10px;
  }
  .upload-icon{
    padding: 15px;
  }
}
@media(min-width: 376px)
{
  .form-col .code{
    border: none !important;
    width: 10% !important;
    height: 30px !important;
    border-left: 2px solid gainsboro !important;
  
  }
  .btn-div .nav-btn span{
    margin-top: 4px !important;
  }
  .user-info{
    right: 15% !important;
  }
  .user-img{
    right: 4% !important;
  }
  .main form div input{
    width: 78%;
  }
  .main form div {
    margin-top: 10px;
  }
  .nav-btn{
    font-size: 15px;
  }
  .nav1-btn{
    font-size: 9px;
    display: inline-flex;
  }
  .butn button{
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 15px;
  }
  .plus-icon{
    line-height: 27.5px !important;
    margin-right: 5px !important;
  }
  .login-user{
    padding-left: 2.25rem !important;
  }
  .social-links{
    display: block;
  }
  .twitter{
    line-height: 120px !important;
  }
  .u-img{
    padding-left: 12px;
  }
  .upload-icon{
    padding: 15px;
  }
}
@media(min-width: 426px)
{
  .form-col .code{
    border: none !important;
    width: 10% !important;
    height: 30px !important;
    border-left: 2px solid gainsboro !important;
  
  }
  .btn-div .nav-btn span{
    margin-top: 4px !important;
  }
  .user-info{
    font-size: 16px !important;
    right: 15% !important;
  }
  .user-img{
    right: 4% !important;
  }
  .nav-btn{
    font-size: 15px;
  }
  .nav1-btn{
    font-size: 9px;
  }
  .plus-icon{
    line-height: 27.5px !important;
    margin-right: 5px !important;
  }
  .social-links{
    display: block !important;
  }
  .u-img{
    padding-left: 8px;
  }
  .upload-icon{
    padding: 15px;
  }
  
}
@media(min-width: 768px)
{
  .form-col .code{
    border: none !important;
    width: 16% !important;
    height: 30px !important;
    border-left: 2px solid gainsboro !important;
  
  }
  .btn-div .nav-btn span{
    margin-top: 4px !important;
  }
  .user-info{
    font-size: 16px !important;
    right: 16% !important;
  }
  .user-img{
    right: 5% !important;
  }
  .btn-div{
    padding-right: 50px !important;
  }
  .nav-btn{
    font-size: 18px;
  }
  .nav1-btn{
    font-size: 15px;
  }
  .plus-icon{
    line-height: 28.5px !important;
    margin-right: 5px !important;
  }
  .u-img{
    padding-left: 6px;
  }
  .upload-icon{
    padding: 15px;
  }
}
@media(min-width: 1024px)
{
  .form-col .code{
    border: none !important;
    width: 0% !important;
    height: 30px !important;
    border-left: 2px solid gainsboro !important;
  
  }
  .btn-div .nav-btn span{
    margin-top: 4px !important;
  }
  .nav-btn{
    font-size: 18px;
  }
  .user-info{
    right: 14% !important;
  }
  .main form div input{
    width: 88%;
  }
  .btn-div{
    padding-right: 70px !important;
  }
  .u-img{
    padding-left: 10px;
  }
  .upload-icon{
    padding: 26px;
  }
  .btn-div .nav-btn{
    margin-left: 180px !important;
  }
}
@media(min-width: 1440px)
{
  .form-col .code{
    border: none !important;
    width: 0% !important;
    height: 30px !important;
    border-left: 2px solid gainsboro !important;
  
  }
  .btn-div .nav-btn span{
    margin-top: 4px !important;
  }
  .btn-div{
    padding-right: 100px !important;
  }
  .u-img{
    padding-left: 20px;
  }
  .upload-icon{
    padding: 42px;
  }
}
@media(min-width: 2560px)
{
  .form-col .code{
    border: none !important;
    width: 0% !important;
    height: 30px !important;
    border-left: 2px solid gainsboro !important;
  
  }
  .btn-div .nav-btn span{
    margin-top: 4px !important;
  }
  .btn-div{
    padding-right: 180px !important;
  }
}



.upload-icon {
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #8080806b;
 
  background-color: #F7F3F4;
  border-radius: 10px;
  margin: 25px 2px 2px 2px;
}

.upload-input {
  position: relative;
  top: -62px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
